/* From W3Schools */
.navbar {
    overflow: hidden;
    background-color: #C1C3CB;
}
  
.navbar a{
    float: left;
    font-size: 16px;
    color: #373945;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.Homebtn{
    background-color: #404040;
    color: #F0F0F0;
    font-family: 'Montserrat', sans-serif;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #373945;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Montserrat', sans-serif; 
    margin: 0; 
}

.dropdown:hover .dropbtn {
    background-color: #DCDDE1;
}

.contentDropdown {
    display: block;
    width: 160px;
    position: absolute;
    background-color: #F0F0F0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    max-height: 0;
    transition: max-height 0.5s;
    overflow: hidden;
}

.contentDropdown a {
    float: none;
    color: #373945;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.contentDropdown a:hover {background-color: #DDEEFF;}

.dropdown:hover .contentDropdown {
    max-height: 210px;
}

.dropdown:hover .dropbtn {
    background-color: #DCDDE1;
}